<% include ./partials/header %>

    <div id="container">
        <h1 id='todo-heading'>TODOS</h1>
        <div id="lists-container" class="hide">
            <input id="add-list-input" autofocus placeholder=" Search | Add Lists" type="text">
            <div id="show-lists-container"></div>
        </div>
        <div id="tasks-container" class="hide">
            <div id="listName">LIST NAME</div> 
            <input id="add-task-input" autofocus placeholder=" Search | Add Tasks" type="text">
            <div id="show-tasks-container"></div>
        </div>
    </div>

<% include ./partials/footer %>